:root {
    --color-gray: #d0d0d0;
    --color-gray-2: #989696;
    --color-green: #0ad132;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar > div {
    border-bottom: 2px solid var(--color-gray);
}

.top {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    box-sizing: border-box;
}

.menu {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu a:hover, .bottom ul li:hover {
    color: var(--color-green);
    cursor: pointer;
}

.menu .btn {
    background-color: var(--color-green);
    padding: 10px 25px;
    color: white;
    border: 1px solid var(--color-green);
    font-size: 16px;
    border-radius: 25px;
}

.menu .btn:hover {
    background-color: white;
    color: var(--color-green);
    cursor: pointer;
}

.bottom {
    height: 40px;
    display: flex;
    flex-direction: row;
    padding: 0 200px;
}

.bottom ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.bottom ul li, .menu a{
    color: var(--color-gray-2);
    font-size: 16px;
    font-weight: semibold;
}

.bottom ul li {
    list-style: none;
}

.menu a {
    text-decoration: none;
}

.section_a {
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 231, 231);
}

.section_a h1 {
    font-size: 40px;
    margin: 15px 0;
}

.section_a h4 {
    font-size: 20px;
    color: var(--color-gray-2)
}

.search_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    gap: 10px;
}

.search_section .categories ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.search_section .categories ul li {
    list-style: none;
    background-color: white;
    padding: 10px 5px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

.search_bar {
    display: flex;
    justify-self: center;
    align-items: center;
    position: relative;
}

.search_bar input[type=text] {
    width: 500px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid var(--color-green);
    padding-left: 20px;
}

.search_bar .search-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--color-green);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    margin-right: 5px;
}